<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">

    {% block head %}
    <head>

        {% block metadata %}
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% endblock metadata %}

        {% block starting_scripts %}
            {% if theme_var('link_new_tab') %}
                <script>
                    const link_new_tab = true;
                    const base_url = '{{ base_url_absolute }}'.replace('https', 'http');
                </script>
            {% endif %}
        {% endblock starting_scripts %}

        {% block favicon %}
            {% set favicon = ((theme_var('favicon')|first).name) %}
            {% if favicon %}
                <link rel="icon" type="image/{{ favicon|split('.')|last }}" href="{{ url('user://data/digital-scholarship/favicon/'~favicon) }}" />
            {% else %}
                <link rel="icon" type="image/png" href="{{ url('theme://images/default/favicon.png') }}" />
            {% endif %}
        {% endblock favicon %}

        {% block page_title %}
            {% set menu = header.menu ?: page.title %}
            <title>{{ menu == site.title ? menu : menu ~ " | " ~ site.title }}</title>
        {% endblock page_title %}

        {% block stylesheets %}
            {% do assets.addCss('https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css') %}
            {% do assets.addCss('theme://css/modal.css') %}
            {% do assets.addCss('theme://css/theme.css') %}
            {% do assets.addCss('theme://css/' ~ theme_var('color_scheme') ~ '.css') %}
        {% endblock stylesheets %}

        {% block javascripts %}
            {% do assets.addJs('jquery') %}
            {% do assets.addJs('theme://js/modal.js') %}
            {% do assets.addJs('theme://js/theme.js') %}
        {% endblock javascripts %}

        {% block assets deferred %}
            {{ assets.css()|raw }}
            {{ assets.js()|raw }}
        {% endblock assets %}
        
    </head>
    {% endblock head %}

    {# In case someone wants to set something ahead of time #}
    {% block setup %}
    {% endblock setup %}

    {% block body %}
    <body id="body" class="{{ header.body_classes }}">

        {% block skip %}
            <a href="#main" id="main-skip-link" class="skip-link">Skip to Content</a>
        {% endblock skip %}

        {% block header_wrapper %}
        <header id="top" tabindex="-1">

            {% block header %}
                {% include 'partials/header.html.twig' %}
            {% endblock header %}

        </header>
        {% endblock header_wrapper %}

        <div id="wrapper">
            {% block navigation %}
                {% include 'partials/navigation.html.twig' %}
            {% endblock navigation %}

            {% block main_wrapper %}
            <main id="main" tabindex="-1">

                {% block main %}

                    {% block title %}
                        <h1>{{ page.title }}</h1>
                    {% endblock title %}

                    {% block content %}
                        <div class="content-wrapper">
                            {{  page.content|raw }}
                        </div>
                    {% endblock content %}

                    {% block back_to_top %}
                        {% include 'partials/back_to_top.html.twig' %}
                    {% endblock back_to_top %}

                {% endblock main %}
            
            </main>
            {% endblock main_wrapper %}
        </div>

        {% block footer_wrapper %}
        <footer id="footer">

            {% block footer %}
                {% include 'partials/footer.html.twig' %}
            {% endblock footer %}

        </footer>
        {% endblock footer_wrapper %}

        {% block bottom %}
            {{ assets.js('bottom')|raw }}
        {% endblock bottom %}

    </body>
    {% endblock body %}

</html>