{% set has_logo = theme_var('logo.file') and not header.remove_logo %}
{% if theme_var('logo.file') %}
    {# Start by setting the logo image for convenience. #}
    {% set logo_img %}
        <img src="{{ url('user://data/digital-scholarship/logo/' ~ theme_var('logo.file')|first.name) }}" alt="{{ theme_var('logo.alt')|default('') }}" />
    {% endset %}
    <div class="logo">
        {# Only make the logo a link if a url and alt text have both been provided. #}
        {% if theme_var('logo.url') and theme_var('logo.alt') %}
            <a href="{{ theme_var('logo.url') }}">{{ logo_img }}</a>
        {% else %}
            {{ logo_img }}
        {% endif %}
    </div>
{% endif %}

{# Include the site title/custom title text #}
<div class="text">
    <a href="{{ base_url }}">
        <span>{{ site.title }}</span>
    </a>
</div>