{% if theme_var('logo.file') %}
    {# Start by setting the logo image for convenience. #}
    {% set logo_img %}
        <img src="{{ url('theme://images/logo/' ~ theme_var('logo.file')|first.name) }}" alt="{{ theme_var('logo.alt')|default('logo') }}" />
    {% endset %}
    <div class="logo">
        {# Only make the logo a link if a url and alt text have both been provided. #}
        {% if theme_var('logo.url') and theme_var('logo.alt') %}
            <a href="{{ theme_var('logo.url') }}">{{ logo_img }}</a>
        {% else %}
            {{ logo_img }}
        {% endif %}
    </div>
{% endif %}

{# Include the site title/custom title text if indicated or if no logo image has been provided. #}
{% if theme_var('title.option') != 'none' or not theme_var('logo.file') %}
    {% set title_text = (theme_var('title.option') == 'custom' and theme_var('title.text')) ? theme_var('title.text') : site.title %}
    {% set title_url = theme_var('title.url_option') == 'none' ? '' : (theme_var('title.url_option') == 'custom' and theme_var('title.custom_url')) ? theme_var('title.custom_url') : base_url %}
    <div class="text">
        {% if title_url %}
            <a href="{{ title_url }}">
                <span>{{ title_text }}</span>
            </a>
        {% else %}
            <span>{{ title_text }}</span>
        {% endif %}
    </div>
{% endif %}