{% import _self as self %}

{% macro loop(page) %}
    {% import _self as self %}

    {% for p in page.children.visible %}
    <li class="{{ p.activeChild ? ' parent' : '' }}{{ p.active ? ' active' : '' }}">
        {% if p.routable %} {# i.e. page, not (just) folder #}
            <a href="{{ p.url }}" class="nav-item" {% if p.active %} aria-current="page" {% endif %}>
                {{ p.menu }}
            </a>
            {% if (p.activeChild or p.active) and p.children.visible.count > 0 %}
                <ul class="list-unstyled" role="list">
                    {{ self.loop(p) }}
                </ul>
            {% endif %}
        {% elseif p.children.visible.count > 0 %} {# i.e. folder with pages inside #}
        {# TODO: Determine if the buttons should have aria-haspopup instead of aria-expanded false #}
            {% if p.activeChild %}
                <button id="{{ p.slug }}-dd-btn" class="nav-item dd-btn dd-caret-btn disabled" aria-expanded="true" aria-disabled="true" disabled>
            {% else %}
                <button id="{{ p.slug }}-dd-btn" class="nav-item dd-btn dd-caret-btn" aria-expanded="false">
            {% endif %}
                <span>{{ p.menu }}</span>
                <i class="fas fa-caret-up" aria-hidden="true"></i>
                <i class="fas fa-caret-down" aria-hidden="true"></i>
            </button>
            <ul class="list-unstyled" role="list">
                {{ self.loop(p) }}
            </ul>
        {% endif %}
    </li>
    {% endfor %}
{% endmacro %}

<nav id="main-nav" aria-label="Primary" class="main-nav sidenav">
    <button id="nav-toggle-btn" class="nav-item dd-btn dd-caret-btn" aria-expanded="false" data-toggle="main-nav-list">
        <span>Menu</span>
        <i class="fas fa-caret-up" aria-hidden="true"></i>
        <i class="fas fa-caret-down" aria-hidden="true"></i>
    </button>
    <ul id="main-nav-list" class="list-unstyled collapsed" role="list">
        {{ self.loop(pages) }}
    </ul>
</nav>