{% import _self as self %}

{% macro loop(page) %}
    {% import _self as self %}

    {% for p in page.children.visible %}
    <li class="{{ p.activeChild ? ' parent' : '' }}{{ p.active ? ' active' : '' }}">
        {% if p.routable %} {# i.e. page, not (just) folder #}
            <a href="{{ p.url }}" class="nav-item" {% if p.active %} aria-current="page" {% endif %}>
                {{ p.menu }}
            </a>
            {% if (p.activeChild or p.active) and p.children.visible.count > 0 %}
                <ul class="list-unstyled" role="list">
                    {{ self.loop(p) }}
                </ul>
            {% endif %}
        {% elseif p.children.visible.count > 0 %} {# i.e. folder with pages inside #}
            {% if p.activeChild %}
                <button type="button" id="{{ p.slug }}-dd-btn" class="nav-item dd-btn dd-caret-btn disabled" aria-expanded="true" aria-disabled="true" disabled>
            {% else %}
                <button type="button" id="{{ p.slug }}-dd-btn" class="nav-item dd-btn dd-caret-btn" aria-controls="{{ p.slug }}-list" aria-expanded="false">
            {% endif %}
                <svg aria-hidden="true" height="10" width="10">
                    <polygon class="icon" points="3,0 3,10 8,5" />
                </svg>
                <span>{{ p.menu }}</span>
            </button>
            <ul id="{{ p.slug }}-list" class="list-unstyled" role="list">
                {{ self.loop(p) }}
            </ul>
        {% endif %}
    </li>
    {% endfor %}
{% endmacro %}

<nav id="main-nav" aria-label="Primary" class="main-nav sidenav">
    <div class="toggle-wrapper">
        <button type="button" id="nav-toggle-btn" class="nav-item dd-btn dd-caret-btn" aria-expanded="false" data-toggle="main-nav-list" aria-controls="main-nav-list">
            <svg aria-hidden="true" height="10" width="10">
                <polygon class="icon" points="3,0 3,10 8,5" />
            </svg>
            <span>Menu</span>
        </button>
    </div>
    <ul id="main-nav-list" class="list-unstyled collapsed" role="list">
        {{ self.loop(pages) }}
    </ul>
</nav>